#titulo-principal{
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    margin: 10px  10px 150px 10px;
    text-shadow:  2px 2px 0 black,
                  -2px 2px 0 black,
                  2px -2px 0 black,
                  -2px -2px 0 black;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("imagenes/fondo1.png"); 
  background-repeat: no-repeat;       
  background-size: cover;             
  background-position: center;    
  background-attachment: fixed;
  background-color: black;  
}
#boton-principal{
  text-align: center;
  background-color: aquamarine;
  color:rgb(0, 0, 0);
  font-size: 30px;
  padding: 50px 50px; /*vertical horizontal*/
  border-radius: 10px;
  border: white;
  margin: 0 auto;
}
.contenedor {
     display: flex;
     flex-direction: row; /*horizontal orden*/
     justify-content: space-around; /*evenly distrubuye el espacio por cada cuadro*/
     align-items: center; /*vertical orden*/
     margin:40px;
    }