<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceso Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="pagina_secundaria">

<section class="formulario">
    <form method="POST">
        <fieldset>
            <legend>Administrador</legend>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}

            <button class="botonPaginas" type="submit">Entrar</button>
        </fieldset>
    </form>
</section>

</body>
</html>
